<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="flex justify-between mx-5 mt-2">
          <h2 class="font-bold text-orange-400">Bali's Culture</h2>
          <div class="block absolute right-4 grid">
            <button type="button" class="">
              <span class="w-[28px] h-[2px] my-[6px] block bg-black"></span>
              <span class="w-[28px] h-[2px] my-[6px] block bg-black"></span>
              <span class="w-[28px] h-[2px] my-[6px] block bg-black"></span>
            </button>
            <div
              class="h-[100px] aspect-[4/9] bg-black justify-self-end absolute top-8 right-0 hidden"
            ></div>
          </div>
        </div>
      </div>
    </nav>
    <section>
      <div class="container mt-16 mx-auto">
        <div class="text-center">
          <h2 class="font-bold text-xs">Welcome to our website</h2>
          <h1 class="font-bold my-5 text-2xl text-orange-400">
            This is Bali's culture
          </h1>
          <div class="flex justify-center">
            <button
              class="px-4 py-2 bg-orange-400 btn-border drop-shadow-lg absolute"
              type="button"
            >
              <div class="flex h-full">
                <span
                  class="font-semibold text-white text-xs items-center items-center"
                  >Get Started</span
                >
              </div>
            </button>
            <div class="bg-gray-500 w-24 h-8 btn-border mt-1 ml-1"></div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
